body
{
  background: rgba(87, 78, 83, 255)
}

.canvas-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

canvas {
  display: block;
  position: relative;
  opacity: 1;
  z-index: 0;
  height: 800px;
  width: 100%;
  margin: 0 auto;
}

#top-space
{
  height: 630px;
  position: relative;
  -webkit-background-size: cover;
  border-bottom: 6px solid #d98e04;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 3;
}

#dota-logo-img,
#top-light,
#right-light {
  display: none;
}

.intro-content{
  position: relative;
  z-index: 0;
}

.intro-content .features {
  background-color: #f4f4f4;
  padding-top: 20px;
  padding-bottom: 30px;
}
.intro-content .features .container-fluid .left {
  padding-left: 0;
}
.intro-content .features .container-fluid .left-container {
  background-color: #e4e6e8;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.intro-content .features .container-fluid .left-container .tab-pane img{
   margin:0 auto !important;
}
.intro-content .features .container-fluid .right-container {
  margin-top: 20px;
}
.intro-content .features .container-fluid .right-container .content {
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}
.intro-content .features .container-fluid .right-container .content .calltoaction {
  text-align: center;
}
.intro-content .features .container-fluid .right-container .content ul {
  padding: 0;
  list-style-type: none;
}
.intro-content .features .container-fluid .right-container .content ul li {
  margin-left: 20px;
}
.intro-content .features .container-fluid .right-container .content ul li .fa-angle-left,
.intro-content .features .container-fluid .right-container .content ul li h4,
.intro-content .features .container-fluid .right-container .content ul li .about {
  display: none;
}
.intro-content .features .container-fluid .right-container .content ul li a p {
  font-size: 16px;
  margin-bottom: 45px;
  color: #333333;
}
.intro-content .features .container-fluid .right-container .content ul .active {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  text-transform: none;
  margin-left: 0;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}
.intro-content .features .container-fluid .right-container .content ul .active h4 {
  display: block;
  color: #8c2625;
  margin-top: 0;
}
.intro-content .features .container-fluid .right-container .content ul .active .about {
  display: block;
  color: #494949;
  font-weight: 300;
}
.intro-content .features .container-fluid .right-container .content ul .active a {
  display: none;
}
.intro-content .features .container-fluid .right-container .content ul .active .fa-angle-left {
  color: #bdbdbd;
  display: block;
  position: absolute;
  left: -50px;
  margin-top: 30px;
  font-size: 60px;
}
.intro-content .features .container-fluid .right-container .content .btn-primary {
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.35);
  margin-top: 10px;
  padding: 6px 26px 6px 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #f1b72a;
  border-color: #f1b72a;
  font-size: 18px;
}
.intro-content .features .container-fluid .right-container .content .btn-primary .fa-steam {
  vertical-align: middle;
  padding: 0;
  font-size: 30px;
  border-radius: 100%;
  margin-right: 14px;
}

.intro-content .details {
  background: url('/static/img/landing-page/details-bg.jpg') no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 40px 0;
  background-attachment: fixed;
}
.intro-content .details .container-fluid {
  color: #f4f4f4;
}
.intro-content .details .container-fluid h2 {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 500;
}
.intro-content .details .container-fluid p {
  font-weight: 300;
  margin-bottom: 40px;
  font-size: 22px;
}
.intro-content .details .container-fluid .btn-default {
  padding-left: 20px;
  padding-right: 20px;
  color: #f4f4f4;
  border-radius: 0;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  background-color: transparent;
  border-color: rgba(204, 204, 204, 0.7);
  box-shadow: none;
}
.intro-content .details .container-fluid .btn-default .fa-angle-down {
  font-size: 30px;
  margin-left: 10px;
  vertical-align: middle;
}
.intro-footer {
  padding: 40px 0 40px 0;
  background-color: #f4f4f4;
  color: #b6b6b6;
}
.intro-footer .container-fluid .left .left-container img {
  margin: 0 auto;
  max-height: 90px;
}
.intro-footer .container-fluid .left .left-container #ycf-logo {
  margin-top: 20px;
  max-height: 110px;
  margin-top: -2px;
      height: auto;
    min-height: 101px;
    min-width: 145px;
}
.intro-footer .container-fluid .left .left-container .social {
  margin-top: 20px;
  margin-left: 30px;
}
.intro-footer a {
  color: #494949;
}
.intro-footer a:hover {
  color: #e39426;
 }

@media (max-width: 768px) {
  .intro-footer .container-fluid .left .left-container .social {
    margin-left: 0;
  }
}
.intro-footer .container-fluid .middle .middle-container {
  border-right: 1px solid #e5e5e5;
}
.intro-footer .container-fluid .left .left-container .social a {

  font-size: 28px;
  margin-right: 23px;
}

.intro-footer .container-fluid .middle .middle-container ul {
  margin-top: 20px;
  list-style-type: none;
}
.intro-footer .container-fluid .middle .middle-container ul li {
  margin-bottom: 42px;
}

.intro-footer .container-fluid .middle .middle-container ul li:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .intro-footer .container-fluid .middle .middle-container {
    border: 0;
    margin-top: 30px;
  }
}
.intro-footer .container-fluid .right .right-container {
  padding-left: 15px;
  padding-right: 30px;
}
.intro-footer .container-fluid .right .right-container h3 {
  font-weight: 300;
  text-transform: uppercase;
  color: #494949;
}
.intro-footer .container-fluid .right .right-container h3 span {
  color: #8c2625;
}
.intro-footer .container-fluid .right .right-container #subscribe-form .btn-primary {
  background-color: white;
  color: #8c2625;
  border: 2px solid #8c2625;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .intro-footer .container-fluid .right .right-container {
    text-align: center;
    margin-bottom: 30px;
  }
}
.under-intro-footer {
  background-color: #e5e5e5;

  padding: 30px 0;
}
.under-intro-footer .container-fluid a {
  color: #a6a6a6;
  font-weight: 500;
  margin-right: 20px;
}
.under-intro-footer .container-fluid a:hover {
  color: #e39426;
 }


.mobile-title
{
  font-family: 'Roboto', sans-serif;
  font-size: 32px;

  position: absolute;
  top:20px;
  left:0;
  width:100%;
}
.title1, .title2 {
color: white;
margin-top: 10px;
font-family: 'Roboto' !important;
}

.title {
  font-weight: 300;
  font-size: 50px;
}

#bs-example-navbar-collapse-1
{
  margin-top:10px;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

footer.copyright{
  background: #ededed;
  color: #494949;
}

footer.copyright a{
  color: #494949;
}

footer.copyright a:hover{
  color: #e39426;
}



.animated-logo .bottom {
  position: absolute;
  bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  z-index: 5;
}
.animated-logo .bottom a {
  color: white;
}
.animated-logo .bottom .btn-primary {
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.35);
  margin-top: 10px;
  padding: 6px 26px 6px 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #f1b72a;
  border-color: #f1b72a;
  font-size: 18px;
}
.animated-logo .bottom .btn-primary .fa-steam {
  vertical-align: middle;
  padding: 0;
  font-size: 30px;
  border-radius: 100%;
  margin-right: 14px;
}
