body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
.faq {
  background: url(/static/img/background.jpg) repeat;
  font-size: 0px;
  padding: 25px 0 0;
}
header {
  padding: 25px 0 50px;
}
.contact-header {
  float: none !important;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}
.contact-header li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.contact-header li:first-child {
  margin-left: 0px;
}
.contact-header li a {
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  font-size: 17px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400 !important;
}
.faq-title {
  float: none !important;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 54px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 200 !important;
}
.sign-in {
  position: relative;
  float: right !important;
  display: inline-block;
  vertical-align: middle;
  overflow: auto;
  margin-top: 12px;
}
.sign-in a {
  text-decoration: none;
}
.sign-in img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.sign-in span {
  display: block;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #fff;
  font-weight: 400 !important;
  margin-left: 15px;
}
.container-signin {
  position: relative;
  float: right;
  padding: 7px 0;
  background-color: #818080;
  border-radius: 50px;
  width: 130px;
}
.container-signin img{
  border-radius:100%;
}
.faq-content {
  background-color: #fff;
  border-radius: 7px;
  padding: 40px;
}
.content {
  padding: 25px 15px;
}
.content h2 {
  font-size: 24px;
  color: #3b3538;
}
.content p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 28px;
  color: #8c8c8c;
  font-weight: 200 !important;
}
.faq-contact {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 7px;
  padding: 50px;
}
.faq-contact h2 {
  font-size: 32px;
  color: #5a5a5a;
  font-weight: 200 !important;
}
.faq-contact p {
  max-width: 1000px;
  margin: 25px auto;
  font-size: 18px;
  line-height: 34px;
  color: #6c6c6c;
  font-weight: 200 !important;
}
.faq-contact p strong {
  font-weight: 500 !important;
}
.faq-contact .button-tweet {
  font-size: 0px;
  text-decoration: none;
  display: inline-block;
  background-color: #0793e3;
  border: 1px solid #0793e3;
  text-align: center;
  padding: 7px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.4s ease-in-out 0s;
}
.faq-contact .button-tweet:hover {
  border: 1px solid #0793e3;
  background-color: transparent;
  color: #0793e3;
}
.faq-contact .button-tweet i,
span {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  font-weight: bold;
  margin: 0 3px;
  transition: all 0.4s ease-in-out 0s;
}
footer {
  overflow: auto;
  padding: 50px 20px 0px;
  font-size: 0px;
}
footer .footer-div {
  display: inline-block;
  vertical-align: middle;
  padding: 30px 20px 70px;
}
footer .footer-div .content-footer-div {
  float: none !important;
  display: inline-block;
  vertical-align: middle;
}
footer .footer-div a {
  display: inline-block;
  vertical-align: top;
}
footer .footer-div:first-of-type {
  border-right: 1px solid #fff;
}
footer .footer-div:first-of-type img {
  display: inline-block;
  vertical-align: middle;
  max-width: 80px;
  margin-right: 20px;
}
footer .footer-div:first-of-type .ycf {
  max-width: 130px;
}
.footer-nav {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.footer-nav li:first-child {
  width: 25%;
}
.footer-nav li {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
}
.footer-nav li:last-child {
  margin-top: 35px;
}
.footer-nav li a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400 !important;
}
footer .footer-div form {
  float: right;
  width: 70%;
}
footer .footer-div:last-of-type img {
  max-width: 190px;
  width: 100%;
}
footer .footer-div:last-of-type img,
input,
button {
  display: block;
}
footer .footer-div input {
  margin: 20px 0;
  width: 100%;
  padding: 9px;
  border-radius: 5px;
  border: 1px solid #c1c0c1;
  color: #c1c0c1;
  font-size: 14px;
}
footer .footer-div button {
  cursor: pointer;
  display: block;
  padding: 10px;
  text-align: center;
  color: #ffd800;
  background-color: transparent;
  border: 2px solid #ffd800;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  transition: all 0.4s ease-in-out 0s;
}
footer .footer-div button:hover {
  background-color: #ffd800;
  color: #fff;
}
@media (max-width: 420px) {
  .container-signin {
    width: 120px !important;
  }
  .contact-header li a {
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  .contact-header {
    text-align: right;
  }
  .container-signin {
    float: left;
    width: 190px;
  }
  .faq-title {
    text-align: center;
    margin: 15px 0;
  }
  footer .footer-div:first-of-type {
    border-right: 1px solid transparent;
    padding: 30px 20px 0px;
  }
  footer .footer-div:first-of-type img {
    margin-right: 0px;
  }
  footer .footer-div {
    text-align: center;
  }
  footer .footer-div form {
    float: none !important;
    width: 100%;
  }
  footer .footer-div a {
    display: block;
    margin-top: 20px;
  }
  footer .footer-div:last-of-type img,
  input,
  button {
    margin: auto;
  }
  .footer-nav {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
  }
  .footer-nav li {
    width: auto;
    margin-left: 15px;
  }
  .footer-nav li:first-child {
    width: auto;
    margin-left: 0px;
  }
  .footer-nav li:last-child {
    margin-top: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  footer .footer-div:first-of-type {
    border-right: 1px solid transparent;
    padding: 30px 20px 0px;
  }
  footer .footer-div:first-of-type img {
    margin-right: 0px;
  }
  footer .footer-div {
    text-align: center;
  }
  footer .footer-div form {
    float: none !important;
    width: 60%;
    margin: auto;
  }
  footer .footer-div a {
    display: block;
    margin-top: 20px;
  }
  footer .footer-div:last-of-type img,
  input,
  button {
    margin: auto;
  }
  .footer-nav {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
  }
  .footer-nav li {
    width: auto;
    margin-left: 15px;
  }
  .footer-nav li:first-child {
    width: auto;
    margin-left: 0px;
  }
  .footer-nav li:last-child {
    margin-top: 0px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  footer .footer-div:first-of-type img {
    max-width: 70px;
  }
}
