<%  layout('base-template'); 
page = 'about';
-%>

<link rel="stylesheet" href="/static/css/style-about.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> 

<section class="about-us">

    <div class="container">
        <div class="row">
            <h2 class="title text-center">
                We are building an Al coach for gamers.
            </h2>
        </div>
        <div class="row">
            <div class="col-xs-12 container-coach gray">
                <p>
                    Is it possible to build an AI that can understand how to play Dota and provide feedback on how you can improve? We think today's technology  should be able to do just that and want to make it happen.
                </p>
            </div>
            <div class="col-xs-12 container-coach white">
                <p>
                    We have two main objectives: First, we want to explore recent advances in reinforcement learning and neural networks and see how smart of an AI we can build. Dota is a massively complex game - but just until recently people also didn't think that computers can master the game of Go. Using this AI we want to build a platform that applies the computer's understanding of the game to help players get better at their games. 
                </p>
            </div>

            <div class="col-xs-12 container-coach gray">
                <p>
                    The goal of solving the game of Dota is still quite far off, but as they say - Rome wasn't built in a day. On the way towards an amazing AI we hope that earlier versions can already uncover interesting information, so we are building up the platform in parallel to doing research. For some more details on the current platform take a look at our <a href="/faq">FAQ</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2 class="title text-center">
                Our Supporters
            </h2>
        </div>
        <div class="row">
            <div class="col-xs-12 container-coach white">
                <p>
                    We want to thank the following awesome people for supporting us on <a href="http://www.patreon.com/wisdota">Patreon</a>:
                </p>
            </div>
            <div class="col-xs-12 container-coach gray">
                <ul class="subscriber-list">
                   <%
                        for(var i = 0; i < subscribers.length; ++i)
                        {
                            %>

                                <li class="subscriber subscriber-lvl-<%= subscribers[i].level %>"><%= subscribers[i].display_name %></li>
                            <%
                        }
                   %> 
                </ul>
            </div>
        </div>
    </div>

    <div class="aboutus-content container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <img src="/static/img/boys.png" alt="">
            </div>
            <div class="col-xs-12 col-md-4 content">
                <h2>
                    To make Wisdota we founded <a href="http://www.tembryo.com">Tembryo </a>.
                </h2>
                <p>
                    Our team combines love for gaming with a passion for computer science, artificial intelligence and optimisation. 
                </p>
                <p>
                    We've played thousands of hours of Dota and felt the frustration of not knowning where to focus in order to get better. Our mission is to build a system that can analyse our games and help us improve as players. 
                </p>
                <p>
                    We received pre-seed funding from Entrepreneur First and the Y Combinator Fellowship program, and if you are interested in joining us feel free to contact us at <a href="mailto://founders@wisdota.com">founders@wisdota.com</strong>.
                </p>
            </div>
        </div>
    </div>
</section>