<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FAQ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style-faq.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> 
  </head>
  <body>
      <section class="faq">
          <header>
          	<div class="container">
	          	<div class="row">
	          		<div class="sign-in col-xs-6 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2">
		            	<div class="container-signin">
		              		<% if (user) { %>
			              	    <a href="#" title="Sign in">
					                <img src="/static/img/steam.png" alt="Sign Out">
					                <span>SIGN OUT</span>
				              	</a>
			              	<% } else { %>
	      	                  	<a href="/user" title="Sign in">
	      	    	                <img src="/static/img/steam.png" alt="Sign Out">
	      	    	                <span>SIGN IN</span>
	      	                  	</a>
			              	<% } %>
		              	</div>
		            </div> 
		            <ul class="contact-header col-xs-6 col-sm-4">
		              <li>
		                <a href="/about" title="About us">
		                  About us
		                </a>
		              </li>
		              <li>
		                <a href="/contact" title="Contact">
		                  Contact
		                </a>
		              </li>
		            </ul>
		            <h1 class="faq-title col-xs-12 col-sm-4">
		                FAQ
		            </h1>
		        </div>
		    </div>
          </header>
          <div class="faq-content container">
	          <div class="row">
	            <div class="content col-xs-12">
	              <h2>
	                What does Wisdota do?
	              </h2>
	              <p>
	                Wisdota lets you track your performance in your Dota matches. It uses a machine learning model to rate the level you played at, along with scores for your last hitting, fights and displays this data in the dashboard on your user page.
	              </p>
	              <p>
	                The rating that Wisdota calculates is called an Individual Match Rating (IMR) because it measures your performance in a single match. An IMR of 4000, for example, means that you played at roughly the level of a 4000 MMR player in this particular match.
	              </p>
	            </div>
	            <div class="content col-xs-12">
	              <h2>
	                How do I use it?
	              </h2>
	              <p>
	                First sign in via your Steam account - this allows us to fetch a list of recent matches you have played in. Then to request us to analyse one of your matches, simply click on the orange 'Parse' button and we will attempt to download the relevant replay file from the Steam servers and analyse it for you.
	              </p>
	            </div>
	            <div class="content col-xs-12">
	              <h2>
	                Why would I want to rate my performance?
	              </h2>
	              <p>
	                Tracking your performance over time lets you see trends and helps you identify areas in which you can improve. "If you can't measure it, you can't improve it" - Lord Kelvin.
	              </p>
	            </div>
	            <div class="content col-xs-12">
	              <h2>
	                How accurate is the rating?
	              </h2>
	              <p>
	                At the moment the analysis is in a very early state, so the results should definitely be taken with a grain of salt. Stay tuned for coming changes! Your IMR for each match only depends on your individual performance, and not whether your team won or lost. It is calculated independently for each match, whereas your MMR reflects your performance averaged over all of your games.
	              </p>
	            </div>
	            <div class="content col-xs-12">
	              <h2>
	                How does Wisdota work?
	              </h2>
	              <p>
	                Your replay files contain a wealth of information on how you play Dota. By training a model on a large number of replays we have identified features of players at the different skill levels (1000-8000+ MMR). Using this model we can map the features in your replay files to an MMR rating along with a rating for your last hitting, fights and more.
	              </p>
	            </div>
	            <div class="content col-xs-12">
	              <h2>
	                Is it free?
	              </h2>
	              <p>
	                The basic level features are all available for free, whilst some of the more advanced features will be available on a monthly subscription. See the subscription page for further details.
	              </p>
	            </div>
	            <div class="content col-xs-12">
	              <h2>
	                Can i download my replay files?
	              </h2>
	              <p>
	                Yes, if you have requested to have a match analysed the replay file will be available for download. You can download the replay file by going to the match list on your user page and clicking the relevant download icon.
	              </p>
	            </div>
	          </div>
	        </div>
	        <div class="container">
	        	<div class="row">
		          	<div class="faq-contact col-xs-12 text-center">
		              <h2>
		                Contact
		              </h2>
		              <p>
		                If you have any further questions or feedback, feel free to contact us via the chat box, or send us a tweet <strong>@wisdota</strong> and we'll do our best to get back to you.
		              </p>
		              <a href="#" title="Tweet to @wisdota" class="button-tweet">
		                <i class="fa fa-twitter"></i>
		                <span>
		                  Tweet to @wisdota
		                </span>
		              </a>
		          </div>
		        </div>
	     	</div>
          <footer>
          	<div class="container">
          		<div class="row">
		            <div class="footer-div col-xs-12 col-sm-12 col-md-7">
		            	<div class="row">
		            		<div class="col-xs-12 col-sm-12 col-md-6 content-footer-div">
				              <a href="#" title="ef.">
				                <img src="/static/img/ef.png" alt="EF">
				              </a>
				              <a href="#" title="YCF">
				                <img src="/static/img/ycf.png" alt="YCF" class="ycf">
				              </a>
				            </div>
				            <div class="col-xs-12 col-sm-12 col-md-6 content-footer-div">
				            	<ul class="footer-nav">
					                <li>
					                  <a href="#" title="Home">
					                    Home
					                  </a>
					                </li>
					                <li class="text-right">
					                  <a href="#" title="Blog">
					                    Blog
					                  </a>
					                </li>
					                <li class="text-left">
					                  <a href="#" title="Learn more">
					                    Learn more
					                  </a>
					                </li>
					            </ul>
				            </div>
				        </div>
		            </div>
		            <div class="footer-div col-xs-12 col-sm-12 col-md-5">
		              <form action="">
		                <img src="/static/img/footer-heading.png" alt="Wisdota">
		                <input type="text" maxlength="60" placeholder="Your Email">
		                <button type="submit">
		                  GET UPDATES    
		                </button>
		              </form>
		            </div>
		         </div>
		      </div>
          </footer>
      </section>
  </body>
</html>