<%  layout('base-template'); 
    navigation_entries=[
        {"label": "About", "link": "/about"},
    ];
-%>


<link rel="stylesheet" href="/static/css/match-reports.css">
<link rel="stylesheet" href="/static/css/lightbox.min.css">
<script src="/static/js/libs/lightbox.min.js"></script>

<div id ="faq">
    <div class="container">
        <div class ="row">

            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <h1 class= "text-center headline">Wisdota Match Reports</h1>
                    </div>
                </div>

                <div class="content-box container">
                    <div class="row about-row">
                        <div class="col-xs-12 col-md-4 content">
                            <h2>
                                What are Match Reports?
                            </h2>
                            <p>
                                Wisdota match reports are documents where we give a personalised analysis of your play in a specific match. They help you improve your game by pin-pointing mistakes and suggesting alternative plays.
                            </p>
 
                            <p> 
                                By purchasing a match report you can get information on how to optimise your decision making, mechanics, movement, fight execution, and itemisation for the specific hero you play.
                            </p>

                            <p>
                                Take a look at the examples below if you would like to see more.
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-8 ">
                            <div class="row">
                                <div class="col-xs-6 content report-thumbnail-container">
                                    <a href="/static/img/match-reports/review-1.png" data-lightbox="examples">
                                        <img src="/static/img/match-reports/review-1.png" class="report-thumbnail">
                                    </a>
                                </div>
                                <div class="col-xs-6 content report-thumbnail-container">
                                    <a href="/static/img/match-reports/review-2.png" data-lightbox="examples">
                                        <img src="/static/img/match-reports/review-2.png" class="report-thumbnail">
                                    </a>
                                </div>
                            </div>


                        </div>                    
                    </div>
                </div>

                 <div class ="row">
                     <div class="col-lg-12">
                        <div class ="row">
                            <div class="col-lg-12 text-center">
                                <a href="http://www.paypal.me/wisdota/5" class="order-button">Get Your Own Report for $5!</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 col-xs-12 notes">
                                <p>Leave a match ID and the hero you played in the PayPal message.</p>
                                <p>We will get back to you by email with your report!</p>
                            </div>
                        </div>

                     </div>
                 </div>

               
                <div class="content-box container">
                     <div class ="row">
                        <div class="col-lg-12">
                            <h2>Can I See Some Examples?</h2>
                        </div>
                        <div class="col-lg-8 col-lg-offset-2">
                            <table class="table examples-table">
                                <tr><th>Match ID</th><th>Hero</th><th>Skill Bracket</th><th>Replay</th></tr>
                                <tr>
                                    <td><a href="https://docsend.com/view/wxqxiyk">2702991590</a></td>
                                    <td><img src="/static/img/heroes/pictures/Ursa.png" class="hero-picture"></td>
                                    <td>~ 5000 MMR</td>
                                    <td><a href="http://wisdota.com/api/download/2702991590"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://docsend.com/view/wxqxiyk">2686044274</a></td>
                                    <td><img src="/static/img/heroes/pictures/Naga Siren.png" class="hero-picture"></td>
                                    <td>~ 4600 MMR</td>
                                    <td><a href="http://wisdota.com/api/download/2686044274"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://docsend.com/view/wxqxiyk">2683860108</a></td>
                                    <td><img src="/static/img/heroes/pictures/Mirana.png" class="hero-picture"></td>
                                    <td>~ 4000 MMR</td>
                                    <td><a href="http://wisdota.com/api/download/2683860108"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://docsend.com/view/wxqxiyk">2705787298</a></td>
                                    <td><img src="/static/img/heroes/pictures/Spirit_Breaker.png" class="hero-picture"></td>
                                    <td>~ 3100 MMR</td>
                                    <td><a href="http://wisdota.com/api/download/2705787298"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                                </tr>
                                <tr>
                                    <td><a href="https://docsend.com/view/wxqxiyk">2676766978</a></td>
                                    <td><img src="/static/img/heroes/pictures/Antimage.png" class="hero-picture"></td>
                                    <td>~ 2800 MMR</td>
                                    <td><a href="http://wisdota.com/api/download/2676766978"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                                </tr>
                            </table>
                        </div>
                     </div>
                </div>

                <div class="content-box container">
                     <div class ="row">
                         <div class="col-lg-12">
                            <h2>Testimonials</h2>
                            <div class ="row">
                                <div class="col-lg-4 col-lg-offset-1">
                                    <div class ="row">
                                        <div class="col-lg-12">
                                            <p class="testimonial">
                                                My first though is that IT IS AMAZING. So basically i'm too aggressive et missplay in teamfight. Damn where was this amazing tool all of my life.
                                            </p>
                                        </div>
                                    </div>
                                    <div class ="row">
                                        <div class="col-lg-12">
                                            <p class="testimonial-name"> - Charles-Adrien "Nobody" Pons</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-lg-offset-1">
                                    <div class ="row">
                                        <div class="col-lg-12">
                                            <p class="testimonial">
                                                Wow - I'm really impressed! That is some very thorough and helpful analysis...The tips seem to be very hero specific. I wish I could have every replay of mine analysed like that! Hah 🙂
                                            </p>
                                        </div>
                                    </div>
                                    <div class ="row">
                                        <div class="col-lg-12">
                                            <p class="testimonial-name"> - Eugenio "Perpetuus" Depalo </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

