<!-- Footer -->
<footer class="copyright">
        <div class="container" style="margin-top:10px">
            <div class="row">
                <div class="col-md-4 text-left">
                    <p>Powered by <a href="http://store.steampowered.com/">Steam</a></p>
                </div>
                <div class="col-md-4 text-center">
                    <span class="copyright">Copyright &copy; Tembryo 2016. <br /> Dota 2 is a registered trademark of Valve Corporation.</span>
                </div>
                <div class="col-md-4 text-right">
                    <p>Match Parsing by <a href="https://github.com/skadistats/clarity">Clarity</a></p>
                </div>
            </div>
        </div>
</footer>
